<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aim.questionnaire.dao.GroupEntityMapper">
  <resultMap id="BaseResultMap" type="com.aim.questionnaire.dao.entity.GroupEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="groupname" jdbcType="VARCHAR" property="groupName" />
    <result column="username" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.aim.questionnaire.dao.entity.GroupEntity">

  </resultMap>
  <sql id="Base_Column_List">

  </sql>
  <sql id="Blob_Column_List">

  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">

  </delete>
  <insert id="insert" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">

  </insert>
  <insert id="insertSelective" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
    insert into project_info(id,user_id,project_name,project_content,created_by,creation_date,last_update_date,last_updated_by) values
  (#{id},#{userId},#{projectName},#{projectContent},#{createdBy},#{creationDate},#{lastUpdateDate},#{lastUpdatedBy})

  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
        update project_info
    <set>
      <if test="projectName != null and projectName!=''">
        project_name = #{projectName},
      </if>
      <if test="projectContent != null and projectContent!=''">
        project_content= #{projectContent},
      </if>
    </set>
  where id = #{id}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.aim.questionnaire.dao.entity.GroupEntity">

  </update>
<!-- 
  根据项目id删除项目
  <delete id="deleteProjectById" parameterType="com.aim.questionnaire.dao.entity.ProjectEntity">
  "java.lang.String"
  DELETE
  FROM project_info
  WHERE id = #{id,jdbcType=VARCHAR}
  </delete> -->

  <!--查询项目列表-->
  <select id="queryProjectList" parameterType="map" resultType="map">
        select  id,groupName,userName
        from group_info
       <where>
         <if test="groupName!=null and groupName!=''">
           and groupName like '%${groupName}%'
         </if>
         <if test="createdBy!=null and createdBy!=''">
           and userName = #{createdBy}
         </if>
       </where>
   
  </select>
  
  
<!-- 
  查询全部项目的名字接口
  <select id="queryAllProjectName" resultType="map">

  </select>

  根据项目id查询项目名称
  <select id="queryProjectNameById" parameterType="java.lang.String" resultType="java.lang.String">
  SELECT project_name as projectName
  FROM project_info
  WHERE id=#{projectId,jdbcType=VARCHAR}
  </select>
  
  
  根据项目名查询项目
  <select id="queryProjectByProjectName" parameterType="java.lang.String" resultType="map">
  SELECT id,user_id,project_name as projectName,project_content as projectContent,created_by as createdBy,creation_date as createDate,last_update_date,last_updated_by
  FROM project_info
  WHERE project_name=#{projectName,jdbcType=VARCHAR}
  </select>
   -->
  
  <!--查询群组-->
  <select id="queryGroups" parameterType="com.aim.questionnaire.dao.entity.GroupEntity" resultType="map">
        select  groupname as groupName
               from
          group_info
       
  </select>
  
</mapper>
